.navbar li a{
    font-size: 1.2rem;
    color: #0C134F !important;
}

.navbar-brand-name{
    font-size: 1.5rem;
    color:#0C134F;
}
.navbarContent{
    font-weight: bold;
}
.navbar-image-ipu{
    height: 100%;
    width: 100%;
}
.navbar-main-ipu-image-container{
    height: 75px;
    margin-right: 30px;
}

li a:hover{
    color:white !important;
    background-color:#0C134F;
    transition:0.5s ease-in;
    border-radius: 5px;
}