.container-flex{
    display: flex;
    justify-content: space-between;
}
.notice-btn:hover,
.notice-btn:focus {
  /* background: #0c134f !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; */
  box-shadow: #222 1px 0 10px;
  text-decoration: bold;
}
.notice-btn {
    /* border: 0.1em solid; */
    /* border-image-slice: 1; */
    /* background: black !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: #0c134f !important; */
    text-decoration: none;
    transition: all 0.4s ease;
  }
