.AboutContact {
  /* text-align: center; */
  font-size: 2rem;
  padding-bottom: 4rem;
  background-color: #f1f6f9;
}

.contact-us-form {
  background-color: #f0f5f9;
  height: 740px;
}
.ideaheading {
  display: inline;
  background-color: #ecf8f9;
  color: #0c134f;
  font-size: 3rem;
  text-align: center;
  color: #0000;
  background: linear-gradient(90deg, white 50%, #0c134f 0) var(--_p, 100%) /
      200%,
    linear-gradient(90deg, white 50%, #0c134f 0) var(--_c, 0%) / 200% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.4s;
  /* margin-top: 2rem; */
}
input,
textarea {
  max-width: 50rem;
  padding: 1.6rem 2.4rem;
  border: 1px solid;
}

input[type="submit"] {
  max-width: 16rem;
  margin-top: 2rem;
  background-color: blue;
  color: aliceblue;
  padding: 1.4rem 2.2rem;
  border-style: solid;
  border-width: 1rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  cursor: pointer;
}
iframe {
  height: 45.5rem;
}
//hovering effect on form
.ideaheading {
}
.ideaheading:hover {
  --_p: 0%;
  --_c: 100%;
  border-radius: 0.25rem;
}
