.App {
  text-align: center;
}

/* Demo CSS */
body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 3rem;
  text-align: center;
  padding: 4rem 0;
}

.underline{
  height: 4px;
  width: 4rem;
  background-color: red;
  border-radius: 4px;
}

.sub-underline{
  height: 4px;
  width: 4rem;
  background-color: rgb(44, 22, 243);
  border-radius: 4px;
}
/* Utility Class */
.container{
  max-width : 1180px;
  margin-inline: auto;
}

.flex{
  display: flex;
  align-items: center;
}


/* Event Section */
.big-event-section{
  padding: 30px 20px 0;
}
.big-event-container{
  gap: 30px;
}
.feature-img img{
  width:80%;
  border-radius: 5%;
  background-size: cover;
}
.feature-desc{
  flex-direction: column;
  align-items: flex-start;
}
